<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="main_pieces_auto_menu" 
              name="TB Auto"
    />
    <menuitem id="pieces_auto_menu" 
              name="Products"
              parent="main_pieces_auto_menu"
    /> 
    
    <menuitem id="car_auto_menu" 
              name="Cars"
              parent="main_pieces_auto_menu"
    />

    <menuitem id="setting_auto_menu" 
              name="Settings"
              parent="main_pieces_auto_menu"
    />
    
    <menuitem id="pieces_auto_menu_product" 
              name="Products" 
              action="stock.product_template_action_product"
              parent="pieces_auto_menu" 
    />

    <menuitem id="product_mark_menu" 
              name="Product Marks" 
              parent="pieces_auto_menu"
              action="product_mark_list_action"
    /> 

    <menuitem id="car_model_menu" 
              name="Models" 
              parent="car_auto_menu"
              action="car_model_list_action"
    />

    <menuitem id="car_engine_menu" 
              name="Engine" 
              parent="car_auto_menu"
              action="car_engine_list_action"
    /> 
    <menuitem id="car_finition_menu" 
              name="Finitions" 
              parent="car_auto_menu"
              action="car_finition_list_action"
    /> 
    <menuitem id="car_mark_menu" 
              name="Marks" 
              parent="car_auto_menu"
              action="car_mark_list_action"
    /> 

    <menuitem id="product_front_menu" 
              name="Product Front" 
              parent="setting_auto_menu"
              action="product_front_action"
    />
    <menuitem id="product_side_menu" 
              name="Product Side" 
              parent="setting_auto_menu"
              action="product_side_action"
    />
    <menuitem id="product_position_menu" 
              name="Product Position" 
              parent="setting_auto_menu"
              action="product_position_action"
    />
    <menuitem id="product_specification_menu" 
              name="Product Specifications" 
              parent="setting_auto_menu"
              action="product_specification_action"
              sequence="4"
    />
    <menuitem id="product_family_menu" 
              name="Product Categories" 
              parent="setting_auto_menu"
              action="product_family_action"
    />
    <menuitem id="pieces_auto_menu_product_category" 
              name="Products family" 
              action="product.product_category_action_form"
              parent="setting_auto_menu" 
    />

</odoo>